:root {
  --font-primary: 'Genty Sans', sans-serif;
  --font-secondary: 'Genty', sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey: #CFCFCF;
  --color-grey2: #68646A;
  --color-grey3: #303030;
  --color-grey4: #D9D9D9;
  --color-blue: #86D7F3;
  --color-blue2: #80C9FE;
  --color-blue3: #166198;
  --color-blue4: #BEBEBE;
  --color-blue5: #4E86E9;
  --color-green: #00E2E9;
  --color-green1: #00B8BE;
  --color-green2: #9EF2B6;
  --color-pink: #F1B4D0;
  --color-pink1: #C94F8F;
  --color-violet: #AE96EA;
  --color-violet1: #B7B8F6;
  --color-violet2: #775FB6;
  --color-yellow: #FFE681;
  --color-red: #d9534f;

  --z-index-normal: 0;
  --z-index-medium: 1;
  --z-index-btn-mint: 488;
  --z-index-navbar: 490;
  --z-index-modal-body: 500;
  --z-index-modal-overlay: 1050;
}